* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 1440px;
    height: 116px;
}

.logo {
    font-family: "Crafty Girls", sans-serif;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 31px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    color: #F7941E;
    padding: 7px 30px;
    border: 1px solid #F7941E;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 23px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.aboutus {
    font-family: 'Abel', sans-serif;
}

.content {
    position: absolute;
    width: 935px;
    height: 246px;
    left: 257px;
    top: 326px;
    background: rgba(241, 241, 242, 0.7);
}

.title {
    position: absolute;
    width: 478px;
    height: 51px;
    left: 235px;
    top: 29px;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;  
    color: #000000;
    opacity: 0.95;
}

.text {
    position: absolute;
    width: 877px;
    height: 96px;
    left: 30px;
    top: 110px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.main {
    position: absolute;
    font-family: 'Abel', sans-serif;
    background: #E5E5E5;
    width: 1440px;
    height: 2000px;
}

.profile {
    position:absolute;
    width: 554px;
    height: 730px;
    left: 48px;
    top: 28px;
}

.revan {
    position: absolute;
    width: 198px;
    height: 313px;
    left: 41px;
    top: 29px;
}

.olivier {
    position: absolute;
    width: 195px;
    height: 313px;
    left: 320px;
    top: 29px;
}

.filip {
    position: absolute;
    width: 198px;
    height: 313px;
    left: 177px;
    top: 374px;
}

.name1 {
    position: absolute;
    width: 99px;
    height: 32px;
    left: 41px;
    top: 310px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #000000; 
    opacity: 0.9;
}

.name2 {
    position: absolute;
    width: 172px;
    height: 32px;
    left: 320px;
    top: 310px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    opacity: 0.9;
}

.name3 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 177px;
    top: 655px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #000000;  
    opacity: 0.9;
}

.revanstory {
    position: absolute;
    width: 620px;
    height: 478px;
    left: 725px;
    top: 27px;
    background: rgba(239, 236, 236, 0.8);
}

.title2 {
    position: absolute;
    width: 305px;
    height: 51px;
    left: 27px;
    top: 11px;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #000000;}

.text2 {
    position: absolute;
    width: 572px;
    height: 342px;
    left: 16px;
    top: 78px;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.contact {
    position: absolute;
    width: 557px;
    height: 650px;
    left: 45px;
    top: 822px;
    background: rgba(251, 247, 247, 0.72);
}

.subheading {
    position: absolute;
    width: 171px;
    height: 51px;
    left: 28px;
    top: 27px;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.info1 {
    position: absolute;
    width: 119px;
    height: 38px;
    left: 28px;
    top: 100px;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #000000;
}

.info2 {
    position: absolute;
    width: 228px;
    height: 32px;
    left: 28px;
    top: 138px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.info3 {
    position: absolute;
    width: 207px;
    height: 38px;
    left: 28px;
    top: 260px;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.info3 {
    position: absolute;
    width: 207px;
    height: 38px;
    left: 28px;
    top: 260px;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.info4 {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 31px;
    top: 298px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;  
    color: #000000;
}

.info5 {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 28px;
    top: 432px;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.info6 {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 31px;
    top: 470px;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
footer {
    font-family: 'Abel' , sans-serif;
    position: absolute;
    background: #FAFAFA;
    width: 1440px;
    height: 410px;
    clear:both;
    top: 2200px;
}

.navigation2 {
    top: 115px;
    display: flex;
    text-align:center;
    justify-content:center;
    font-size: 18px;
}

.home {
    position: absolute;
    left: 28.19%;
    right: 69.1%;
    top: 28.05%;
    bottom: 65.61%;
}

.about {
    position: absolute;
    left: 36.46%;
    right: 60.76%;
    top: 28.05%;
    bottom: 65.61%;
}

.urmind2 {
    font-family: 'ABeeZee', sans-serif;
    color: #F71E1E;
    line-height: 21px;
    position: absolute;
    left: 48.61%;
    right: 47.08%;
    top: 28.05%;
    bottom: 66.83%;
}

.service {
    position: absolute;
    left: 61.67%;
    right: 34.79%;
    top: 28.05%;
    bottom: 65.61%;
}

.quotes {
    position: absolute;
    left: 68.75%;
    right: 27.85%;
    top: 28.05%;
    bottom: 65.61%;
}

.divider {
    position: absolute;
    left: 15.28%;
    right: 15.28%;
    top: 45.85%;
    bottom: 54.15%;
    border: 1px solid #000000;
}

.social {
    display: flex;
    text-align:center;
    justify-content:center;
}

.facebook {
    position: absolute;
    left: 572.8px;
    bottom: 127.8px;
}

.twitter {
    position: absolute;
    left: 636.8px;
    bottom: 127.8px;
}

.instagram {
    position: absolute;
    left: 700.8px;
    bottom: 127.8px;
}

.youtube {
    position: absolute;
    left: 764.8px;
    bottom: 127.8px;
}

.pinterest {
    position: absolute;
    left: 828.8px;
    bottom: 127.8px;
}

.copyright {
    position: absolute;
    bottom: 26px;
    left: 654.5px;
    right: 654.5px;
}
